@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;700&display=swap');

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
 
   

    
}

.container{
    /* margin: auto;
    width: 100%; */
    /* position: relative; */
    background: url("https://images.unsplash.com/photo-1568738351265-c7065f5d4293?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTQ3fHx2ZXJ5JTIwZmFpbnQlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: 50% 50%;
    /* background: rgba(76, 175, 80, 0.1); */
    background-repeat: no-repeat;
    margin-top: 100px;

}

.content-container{
    /* position: absolute; */
    padding: 50px;
    margin: auto;
    width: 50%;
    
}

.p-light{
}

h1{
    
    font-family: 'Space Grotesk', sans-serif;
    font-size: 3.5rem;
    
}

.color{
    color: #5f5d68;
}


